Database/__pycache__/GetScriptToList.cpython-37.pyc
Database/__pycache__/DatabaseIntegration.cpython-37.pyc
Database/__pycache__/GetListFromDatabase.cpython-37.pyc
Database/__pycache__/PutListToDatabase.cpython-37.pyc
Graph/__pycache__/MetaplotLibBarh.cpython-37.pyc
Files/__pycache__/GetAllFiles.cpython-37.pyc
Schedule/__pycache__/schedule.cpython-37.pyc
Images/testeImagem.jpg
Images/colors.jpg
Images/testeImagem.png
